# Copy this file to .env and modify as desired
GETH_ARGS=--mine --nousb --miner.threads '2' --miner.gasprice '0' --allow-insecure-unlock --miner.etherbase '0xa019f75409223cfc5453df2f2fe15f3746f012b6' --unlock '0xa019f75409223cfc5453df2f2fe15f3746f012b6' --password "/etc/profile" --miner.recommit '1s' --http --http.address "0.0.0.0" --rpccorsdomain "*" --ws --nodiscover --fakepow --verbosity 4
